* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

.clr {
    clear: both;

}

body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.main {
    width: 100%;
    margin: 0px auto;
}

<!--Header--> 
#header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#intro {
    height: 80px;

}

#logo {
    width: 19%;
    height: 80px;
    float: left;
}

#lienhe {
    background-color: #f7f7f7;
    height: 80px;
    width: 82%;
    position: absolute;
    left: 18%;
}

#nav {
    height: 75px;
    background-color: white;
    box-shadow: 0px 5px 5px -3px #888888;
}

.button {
    width: 11%;
    float: left;
    color: #444444;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    background-color: white;
    display: block;
    float: left;
    padding-top: 10px;
    transition: background-color .1s ease;
}

.button:hover {
    color: #faa731;

}

.box {
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    height: 65px;
    float: left;
}

.container-s {
    width: 200px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-s input#search {
    width: 200px;
    height: 25px;
    background: white;
    border: solid 1px #777777;
    font-size: 11pt;
    float: left;
    color: black;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
}

.container-s button.icon {
    border-radius: 14px;
    border: none;
    background: #faa731;
    height: 19px;
    width: 28px;
    font-size: 13pt;
    margin-left: -32px;
    margin-top: 3px;
}

.box a {
    color: black;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
    padding: 8px 10px;
    width: 75px;
    border: 1px solid black;
    border-radius: 20px;
 
}

.box a:hover {
    background-color: #FFC06D;
}

<!--Header--> 
.header {
    width: 100%;
}

#menu_tab {
    width: 100%;
    height: 70px;
    background-color: #FFF;
}

.roll_menu {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.orange {
    width: 100%;
    height: 10px;
    background-color: #f8934d;
}

#menu_tab ul {
    list-style-type: none;
}

#menu_tab ul li a {
    float: left;
    width: 120px;
    height: 10px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    text-decoration: none;
    font-size: 16px;
    text-align: center
}

#menu_tab img {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 30px;
}

#sign_in {
    background-color: #f8934d;
    float: left;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    font-size: 16px;
}

#menu_tab a:hover {
    color: #F90;
    border-radius: 15px;
}

/*#container{
	background-color: red;
}*/

#slider {
    margin: 0px auto;
    width: 100%;
    margin-top: 80px;
}

.slide {
    width: 100%;
    height: 500px;
    border: #FFF solid 1px;
    margin-top: -12px;
}

#next img {
    width: 50px;
    height: 50px;
}

#prev img {
    width: 50px;
    height: 50px;
}

#next {
    text-transform: uppercase;
    top: 305px;
    right: 10px;
    position: absolute;
}

#prev {
    text-transform: uppercase;
    top: 305px;
    left: 10px;
    position: absolute;
}

.content {
    margin-top: 0px;
    text-decoration: none !important;
    height: 2400px;
}

.content h1 {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 80px;
    color: #F60;
    font-size: 30px;
}

.content .sidebar_left {
    width: 10%;
    float: left;
}

.sidebar_left {
    width: 10%;
    height: 2000px;
    float: left;
}

.info_content {
    width: 80%;
    height: 2000px;
    float: left;
}

.sidebar_right {
    width: 10%;
    height: 2000px;
    float: left;
}

.first_reason {
    width: 33%;
    height: 350px;
    border-right: #F90 solid 1px;
    float: left;
}

.second_reason {
    width: 34%;
    height: 350px;
    border-right: #F90 solid 1px;
    float: left;
}

.third_reason {
    width: 32%;
    height: 350px;
    float: left;
}

.image_1 img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.image_2 img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.image_3 img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.word {
    margin-top: 40px;
    font-size: 18px;
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}

.three_circle {
    margin-top: 50px;
    border-top: #000 solid 2px;
}

.first_circle, .second_circle, .third_circle {
    width: 32%;
    height: 350px;
    float: left;
    background-color: white;
    box-shadow: 3px 3px 5px #999999;
}

.second_circle {
    margin-left: 20px;
    margin-right: 20px;
}

#icon_1 img, #icon_2 img, #icon_3 img {
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-top: 10px;
}

.detail {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 28px;
}

.detail a {
    padding: 10px 20px;
    background-color: #faa731;
    border-radius: 10px;
    color: #000;
}

.detail a:hover {
    color: #F90;
    background-color: black;
}

.slship img {
    width: 70%;
    height: 50px;
    margin-top: 100px;
}

#slship_img img {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

.footer {
    background-color: #f8934d;
    width: 100%;
    height: 200px;
}

#tru_so {
    width: 33%;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 14px;
    color: #FFF;
}

#hop_tac {
    width: 20%;
    float: left;
    margin-top: 15px;
    margin-left: 70px;
    font-size: 14px;
    color: #FFF;
}

#hop_tac a {
    display: block;
    width: 110px;
    margin-top: 40px;
    color: white;
    border: 1px solid;
}

#hop_tac a:hover {
    background-color:red;
}

#ket_noi {
    width: 39%;
    float: left;
    margin-top: 10px;
}

#ket_noi p {
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
}

/*<!--Template:Start-->*/ 
/* .content-tp {} */

.content-tp {
    margin-top: 140px;
    width: 100%;
    height: 1500px;
    margin-bottom: 25px;
}

.left {
    width: 25%;
    height: 1500px;
    border-right: #F60 solid 1px;
    float: left;
}

.right {
    width: 70%;
    height: 1500px;
    float: left;
    margin-left: 40px;
}

.seven_reason {
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    background-color: #f9e5cde6;
    box-shadow: 3px 3px 5px #999999;
}

<!--Template:End--> /*Add*/ 
.news {
    height: 700px;
    position: relative;
    float: left;

}

.shape-title {
    width: 100%;
    height: 40px;
    background-color: white;
    margin-bottom: 4px;
    box-shadow: 3px 3px 5px #999999;
}

.shape-thang {
    width: 200px;
    border-bottom: 40px solid #faa731;
    border-right: 40px solid transparent;
}


.demuc {
    display: inline-block;
    position: absolute;
    top: 10px;
    font-family: sans-serif;
    font-size: 14pt;
    text-decoration: none;
}

.shape-title span {
    color: white;
    left: 35px;
}

.shape-title a {
    color: black;
}

.shape-title a:hover {
    color: #faa731;
}

.vuong {
    height: 610px;
    background-color: white;
    box-shadow: 3px 3px 5px #999999;
}

.news-child {
    display: inline-block;
    width: 98%;
    height: 180px;
    margin: 1%;
}

.news-child img {
    float: left;
    width: 240px;
    height: 180px;
}

.title,
.time-post,
.baiviet {
    display: block;
    margin-left: 255px;
}

.title {
    text-decoration: none;
    font-size: 16pt;
    font-family: sans-serif;
    color: black;
    margin-top: 10px;
}

.time-post {
    font-family: sans-serif;
    font-size: 10pt;
    font-style: oblique;
    color: #454545;
    display: block;
    margin-top: 20px;
}

.title:hover {
    color: #faa731;
}

.baiviet {
    font-family: sans-serif;
    font-size: 11pt;
    margin-top: 6px;
}

.horizontal-line {
    border-bottom: 2px solid #faa731;
    width: 98%;
    position: relative;
    left: 10px
}

.h_main {
    width: 100%;
    margin: auto;
}

.h_container {
    width: 100%;
    height: 800px;
    margin: auto;
    position: relative;
    top: 100px;
}

.book {
    width: 100%;
    height: 365px;
    position: relative;
    float: left;
    top: 100px;
}


#shape-thang-book {
    width: 300px;
    border-bottom: 40px solid #faa731;
    border-right: 40px solid transparent;
}

.shape-book {
    height: 320px;
    background-color: white;
    box-shadow: 3px 3px 5px #999999;
    overflow: hidden;
}

.slide-book {
    width: 15000px;
    transition: all .55s;
}

.slide-book img {
    width: 150px;
    height: 200px;
    margin: 25px 15px 0px 85px;
    float: left;
}

.book-name {
    width: 2350px;
    transition: all .55s;
}

.book-name a {
    display: block;
    width: 150px;
    height: 10x;
    margin: 25px 15px 0px 85px;
    float: left;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.book-name a:hover {
    color: blue;
    text-decoration: underline;
}

.arrow {
    position: absolute;
    top: 40%;
    left: 15px;
    color: black;
    opacity: .2;
}


.arrow:hover {
    opacity: .8;
}

.arrow .fa-chevron-circle-right {
    position: relative;
    left: 960px;
}

#dangky {
    padding: 10px 60px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 350px;
    color: #222222;
    font-size: 16pt;
    font-weight: bold;
    background-color: #faa731;
    border-bottom: 3px solid #a96000;
    border-radius: 10px;
}

#dangky:active {
    border-bottom: none;
    border-top: 3px solid #a96000;
}

#bocongthuong {
    width: 30%;
    margin-top: 10px;
    margin-left: 350px;
}