body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:163px;
  width:414px;
  height:35px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:235px;
  width:414px;
  height:153px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:153px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:163px;
  width:59px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:235px;
  width:69px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:21px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:62px;
  width:599px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 164, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:426px;
  width:53px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:426px;
  width:79px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
