@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
#content{
	width:100%;
	height:100%;
}
.container {
	margin: 0;
    padding: 0;
   width: 100%;
   border: 1px solid #333;
   padding: 0px;
}
#thanhngang{
   width: 100%;
   height: 30px;
   background: #e8e8e8;
   color:#000;
   background-color:#F90;
   font-family:Georgia, "Times New Roman", Times, serif;
   font-size:18px;

}
#thanhtrai {
 width: 29.30%;
 height: 40px;
 background: #EBEBEB;
 float:left;
 border:2px solid #CCC;
 font-family:Georgia, "Times New Roman", Times, serif;
}
#thanhphai {
 width: 70%;
 height: 40px;
 background: #898989;
 float:right;
 border:2px solid #CCC;
}
#thanhtraiduoi {
 width: 29.30%;
 height: 600px;
 background: #EBEBEB;
 float:left;
 border:2px solid #CCC;
 margin: 0;
 padding: 0;
}
#nganthanhtrai{
	width: 20%;
 height: 600px;
 background: #EBEBEB;
 float:left;
 border-right:2px solid #CCC;
 margin: 0;
 padding: 0;
}
.btnhome{
	position:relative;
	top:30px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btndocsach{
	position:relative;
	top:60px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btnganday{
	position:relative;
	top:90px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btntinnhan{
	position:relative;
	top:120px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btnmofile{
	position:relative;
	top:150px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btnthem{
	position:relative;
	top:180px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btndanhba{
	position:relative;
	top:210px;
	left:20px;
	font-size:24px;
	color:#F60;
	border:none;
	background:#EBEBEB;
}
.btnthemban{
	position:relative;
	top:70px;
	left:10px;
	font-size:24px;
	color:#00F;
	border:none;
	bottom:20px;
	background:#EBEBEB;
}
.btnthemban1{
	position:relative;
	top:30px;
	left:10px;
	bottom:20px;
	font-size:30px;
	color:#0C6;
	border:none;
	background:#EBEBEB;
}
#thanhphaiduoi {
 width: 70%;
 height: 600px;
 background: #EBEBEB;
 float:right;
 border:2px solid #CCC;
}
#avata{
	float:left;
	position:relative;
	top:3px;
	float:left;
}
#setting{
	position:relative;
	top:3px;
	float:right;
	
}
.btnavata{
	color:898989;
	border:#EBEBEB;
	background:#EBEBEB;
	font-size:30px;
	color:#0C0;
	border:none;
}
.btnsetting{
	color:898989;
	border:#EBEBEB;
	background:#EBEBEB;
	font-size:30px;
}
#themtailieu{
	float:left;
	position:relative;
	top:7px;
	left:20px;


}
#tracuutailieu{
	float:left;
	position:relative;
	top:7px;
	left:50px;
	
}
.btn1{
	color:#FFF;
	background:#00F;
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-radius:20px;
	box-shadow: 5px 5px #666666;
	border:5px solid #00F;
}

.btn2{
	color:#FFF;
	background:#00A651;
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-radius:20px;
	box-shadow: 5px 5px 5px #666;
-moz-box-shadow: 5px 5px 5px #666;
-webkit-box-shadow: 5px 5px 5px #666;
border:5px double #00A651;
}
.timkiemtxt{
	margin-top: 5px;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}
.btntimkiem{
	float: left;
margin-top: 10px;
border:#00afdd 2px solid;
height:27px;
width:343px;
border-radius:5px;
}
.btntimkiem input[type=text]
{
width:270px;
height:21px;
border-radius:5px;
background:#ffffff;
float:left;
margin:0px;padding:3px;
}
.btntimkiem input[type=submit]
{
border:#00afdd 2px solid;
float:right;
margin:2px 2px 2px 2px;
height:23px;
padding-top:1px;
background:#4fbfdc;
border-radius:5px;
}
.btnphanhoi{
	position:fixed;
	top:1%;
	left:95%;
	color:#FF6600;
	border:#EBEBEB;
	background:#898989;
	font-size:30px;
	border:none;
}


.clear { clear: both }



