body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:668px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:668px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:1007px;
  height:668px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:569px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:100px;
  width:1px;
  height:568px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:78px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:1007px;
  height:78px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 167, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:19px;
  width:184px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 114, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:19px;
  width:184px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:18px;
  width:58px;
  height:52px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:41px;
  width:105px;
  height:16px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:209px;
  width:66px;
  height:1px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:248px;
  width:58px;
  height:52px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:616px;
  width:58px;
  height:52px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:616px;
  width:58px;
  height:52px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:122px;
  width:58px;
  height:52px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:100px;
  width:113px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:154px;
  width:306px;
  height:35px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u92_input:disabled {
  color:grayText;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:225px;
  width:306px;
  height:35px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:279px;
  width:62px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:52px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:340px;
  width:58px;
  height:52px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:19px;
  width:91px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
