.div-nhaptentailieu select {
    max-width: 400px;
}

.titlebar h5 {
    margin-left: 50px;
    margin-top: 20px;
}

.div-titleketqua h5 {
    margin-left: 50px;
    margin-top: 20px;
}



#table-phanhoi{
    width: 90%;
    margin: 30px auto;
}