body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:120px;
  width:306px;
  height:35px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u97_input:disabled {
  color:grayText;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:191px;
  width:306px;
  height:121px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:121px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:48px;
  width:306px;
  height:35px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:351px;
  width:306px;
  height:35px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:48px;
  width:80px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:150px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:191px;
  width:48px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:351px;
  width:79px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 164, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:429px;
  width:193px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
