body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:69px;
  width:306px;
  height:35px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71_input:disabled {
  color:grayText;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:140px;
  width:306px;
  height:35px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:140px;
  width:129px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:69px;
  width:129px;
  height:21px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
  background:inherit;
  background-color:rgba(180, 180, 180, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:211px;
  width:146px;
  height:35px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
  background:inherit;
  background-color:rgba(247, 164, 47, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:379px;
  width:53px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:379px;
  width:79px;
  height:34px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
